<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Email Template - Classic</title>
<style type="text/css">
a:hover { text-decoration: underline !important; }
</style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f7f2e4;" bgcolor="#f7f2e4" leftmargin="0">
<!--100% body table-->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f7f2e4">
  <tr>
    <td>
	<!--top links-->
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td valign="middle" align="center" height="45">
		<p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px;">
		</td>
	</tr>
</table>
   <!--header-->
   <table background="<%=attachments['header-bg.jpg'].url %>" style="background-repeat: no-repeat; background-position: center; background-color: #fffdf9;" width="684" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td valign="top" width="173">
		<!--ribbon-->
		<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td height="120" width="45"></td>
		<td background="<%=attachments['ribbon.jpg'].url %>" valign="top" bgcolor="#c72439" height="120" width="80">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td valign="bottom" align="center" height="35">
		<p style="font-size: 14px; font-family: Georgia, 'Times New Roman', Times, serif; color: #ffffff; margin-top: 0px; margin-bottom: 0px;">&nbsp;</p>
		</td>
	</tr>
	<tr>
		<td valign="top" align="center">
		<p style="font-size: 36px; font-family: Georgia, 'Times New Roman', Times, serif; color: #ffffff; margin-top: 0px; margin-bottom: 0px; text-shadow: 1px 1px 1px #333;">&nbsp;</p>
		</td>
	</tr>
</table>
		</td>
	</tr>
	</table><!--ribbon-->
		</td>
		<td valign="middle" width="493"><table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td height="60"></td>
			</tr>
			<tr>
				<td>
				<h1 style="color: #333; margin-top: 0px; margin-bottom: 0px; font-weight: normal; font-size: 48px; font-family: Georgia, 'Times New Roman', Times, serif">1点1滴<em></em></h1>
				</td>
			</tr>
			<tr>
				<td height="40">
				</td>
			</tr>
		</table>
		<!--date-->
		<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td valign="top" align="center" bgcolor="#312c26" background="<%=attachments['date-bg.jpg'].url %>" width="357" height="42">
		<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td height="5"></td></tr></table>
        <p style="font-size: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #ffffff; margin-top: 0px; margin-bottom: 0px;">您好 <%= @user.name %></p>
		</td>
	</tr>
	</table><!--/date-->
		</td>
		<td width="18"></td>
	</tr>
</table>
	</td>
    </tr>
</table><!--/header-->
    <!--email container-->
    <table bgcolor="#fffdf9" cellspacing="0" border="0" align="center" cellpadding="30" width="684">
  <tr>
    <td>
    <!--email content-->
    <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
  <tr>
    <td>
    <!--section 1-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%">
  <tr>
    <td valign="top" align="center"><!--line break-->
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	
</table><!--/line break-->
	<h1 style="font-size: 36px; font-weight: normal; color: #333333; font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 0px; margin-bottom: 20px;">谢谢您的支持！</h1>
    <% if @project.success_yn %>
      <p style="font-size: 16px; line-height: 22px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;">在大家的鼓励下<%= link_to(@project_owner, user_url(@project.user_id)).html_safe %>的目标：<%=link_to(@project_name, goal_url(@project.id)).html_safe%>已经成功的完成了，1点1滴和<%= @project_owner%>真诚的感谢您的鼓励与支持！</p>
  <% else %>
    <p style="font-size: 16px; line-height: 22px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;">在大家的鼓励下<%= link_to(@project_owner, user_url(@project.user_id)).html_safe%>的目标：<%=link_to(@project_name, goal_url(@project.id)).html_safe%>已经完成了，虽然目标没有成功。但是1点1滴和<%= @project_owner%>真诚的感谢您的鼓励与支持！</p>
  <% end %>
    </td>
  </tr>
</table><!--/section 1-->
<!--line break-->
  <table cellspacing="0" border="0" cellpadding="0" width="100%">
  <tr>
    <td height="72"><img src="<%=attachments['line-break-2.jpg'].url %>" width="622" height="72">
    </td>
  </tr>
</table><!--/line break-->
    <!--section 2-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%">
  <tr>
    <td>
    <table cellspacing="0" border="0" cellpadding="8" width="100%" style="margin-top: 10px;">
 
</table>
    </td>
  </tr>
</table><!--/section 2-->
    <!--section 3-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%">
  <tr>
    <td>
<!--line break-->
  <table cellspacing="0" border="0" cellpadding="0" width="100%">
  <tr>
    <td height="72">&nbsp;</td>
  </tr>
</table><!--/line break-->

	<!--line break-->
	
<!--line break-->
  <table cellspacing="0" border="0" cellpadding="0" width="100%">
  <tr>
    <td height="72">&nbsp;</td>
  </tr>
</table><!--/line break-->
    </td>
  </tr>
</table><!--/section 3-->
    </td>
  </tr>
</table><!--/email content-->
    </td>
  </tr>
</table><!--/email container-->
<!--footer-->
    <table width="680" border="0" align="center" cellpadding="30" cellspacing="0">
  <tr>
    <td valign="top">
    <p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px;">
	欢迎光临我们的网站：<a href="http://www.1dian1di.com" style="color: #bc1f31; text-decoration: none;">www.1dian1di.com</a></p>
    </td>
    <td valign="top"><p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px;"></p></td>
  </tr>
  <tr>
  	<td height="30"></td>
  	<td height="30"></td>
  	</tr>
	</table><!--/footer-->
    </td>
  </tr>
</table><!--/100% body table-->
</body>
</html>
