  <fieldset>
    <%= form.label :你的目标,{:for=>"project_name"} %>
    <%= form.text_field :name,:class=>"validate[required,minSize[4],maxSize[17]]" %>
  </fieldset>
  <fieldset>
    <%= form.label :目标内容, {:for=>"project_description"} %>
    <%= form.text_area :description,:class=>"validate[required,minSize[10]]" %>
  </fieldset>
  <fieldset>
    <%= form.label :目标期限,{:for=>"project_complete_time_1i"} %>
    <%= form.date_select :complete_time,{:start_year=>Time.now.year,:end_year=>(Time.now.year + 1)},{:class=>"validate[funcCall[validateCompleteDate]]"} %><span id="complete_date_msg"></span>
  </fieldset>
  <fieldset>
    <%= form.label :选个类别吧, {:for=>"project_category_id"} %>
    <% Category.all.each_with_index do |category, index| %>
      <% if (index == 0) %>
        <%= form.radio_button :category_id,category.id,{:checked=>true} %> <%= ('&nbsp;'*1).html_safe %> <%= category.name %><%= ('&nbsp;'*5).html_safe %>
      <% elsif ((index+1)%4 == 0) %>
        <%= form.radio_button :category_id,category.id %> <%= ('&nbsp;'*1).html_safe %> <%= category.name %><br/>
      <% else %>
        <%= form.radio_button :category_id,category.id %> <%= ('&nbsp;'*1).html_safe %> <%= category.name %><%= ('&nbsp;'*5).html_safe %>
      <% end %>
    <% end %>
  </fieldset>
    <%= render :partial=>"prize" %>
    <%= link_to "需要更多犒赏来鼓励自己？",more_rewards_projects_url,:remote=>true,:id=>"more_rewards"  %>
  <fieldset>
    <%= form.label :上传个目标图片吧,{:for=>"project_avatar"} %>
    <%= form.file_field :avatar,:value=>"上传" %>
  </fieldset>
<script>
function validateCompleteDate(field, rules, i, options){
  jQuery(function($) { 
    var goal_complete_date = new Date($('#project_complete_time_1i').val(),$('#project_complete_time_2i').val()-1,$('#project_complete_time_3i').val());
    var today = new Date();
    var diff = goal_complete_date.getTime() - today.getTime();
    var diff_in_days = (((diff/1000)/60)/60)/24;
    var msg = '';

    if (goal_complete_date < today){ msg =  options.allrules.validateCompleteDatePast.alertText;}
    if (diff_in_days > 730){ msg =  options.allrules.validateCompleteDateFuture.alertText;}
    if (msg != ''){
      $('#complete_date_msg').validationEngine('showPrompt', msg, 'error','topRight',true);
    }
    else{
      $('#complete_date_msg').validationEngine('hide');
    }
  })
}
</script>

