<div id="siteMessage" style="display:none;">
    <p>感谢你对这个目标的支持。</p>
</div>  

  <div class="grid_5 alpha" id="project-title">
    <h2><%= @project.name%></h2>
  </div>

  <div class="grid_5 alpha" id="project-navigation">
    <ul>
      <li><%= link_to "目标主页", goal_url(@project.id), :class=>highlight_this?("show") %></li>
      <li><%= link_to "进展(" + "#{@project.project_updates.size}" + ")",goal_progress_url(:goal_id=>@project.id),:class=>highlight_this?("progress") %></li>
      <li><%= link_to "留言(" + "#{@project.comments.size}" + ")",goal_comments_url(:goal_id=>@project.id), :class=>highlight_this?("comments") %></li>
      <li><%= link_to ("支持(" + "<span id='supporter-number'>#{@project.supporters.count}</span>" + ")").html_safe,goal_supporters_url(:goal_id=>@project.id), :class=>highlight_this?("supporters") %></li>
    </ul>
  </div>

    <div class="grid_2 omega" id="project-meta-detail">
      <ul class="project-meta">
        <li class="project-meta-user" style="padding-left: 0; margin-left: 15px;"><%= display_user_avatar(:user=>@project.owner, :size=>:small) %> <%= link_to @project.owner.name, user_url(@project.user_id) %></li>
        <li class="project-meta-place"><%= link_to @project.owner.location, goals_url(:location=>@project.owner.location) %></li>
      </ul>
    </div>
  <div class="clear"></div>
