<%= render :partial=>"project_detail_header"%>

<div id="comments">
  <% @project.comments.each do |comment|%>
    <div class="entry">
      	<p><%= comment.content%></p>
        <h6><%= comment.user.name%>更新于<%= time_ago_in_words(comment.updated_at)%>前</h6>
    </div>
  <% end %>
 </div>

<% unless session[:current_user_id].blank? %>
  <%= form_for(:comment, :url=>comments_url,:html=>{:method=>:post}) do |f| %>
    <%= f.hidden_field :project_id,:value=>@project.id %>
    <fieldset>
    <%= f.text_area :content %>
    </fieldset>
    <%= f.submit '留言', :disable_with=>"留言中..." %>
  <% end %>
<% end %>

<div class="clear"></div>
