<%= render :partial=>"project_detail_header"%>

<div id="comments">
  <% if @project.comments.blank? %>
    目前还没有该目标的留言，要不要鼓励一下呢。
  <% else %>
  <% @project.comments.each do |comment|%>
    <div class="entry">
      	<p><%= comment.content%></p>
        <h6><%= comment.user.name%>更新于<%= time_ago_in_words(comment.updated_at)%>前</h6>
    </div>
  <% end %>
<% end %>
 </div>

<% unless session[:current_user_id].blank? %>
  <%= form_for(:comment, :url=>comments_url,:html=>{:id=>"comment_form",:method=>:post}) do |f| %>
    <%= f.hidden_field :project_id,:value=>@project.id %>
    <fieldset>
      <%= f.text_area :content,:class=>"validate[required,minSize[5],maxSize[300]]" %>
    </fieldset>
    <%= f.submit '留言', :disable_with=>"留言中..." %>
  <% end %>
<% end %>

<div class="clear"></div>
<script type="text/javascript">
  $("#comment_form").validationEngine();
</script>
