<%= render :partial=>"project_detail_header"%>

<div id="project-updates">
  <% @project.project_updates.each do |pu|%> 	
    <div class="entry">
      <p><%= pu.content%></p>
      <h6>更新于<%= time_ago_in_words(pu.updated_at)%>前</h6>
    </div>
  <% end %>
  <% if @project.owner.id.eql?(session[:current_user_id])%>       
    <%= form_for :project_update, :url=>project_updates_url,:html=>{:method=>:post} do |f| %>
      <%= f.hidden_field :project_id, :value=>@project.id %>
      <fieldset>
      <%= f.text_area :content %>
      </fieldset>
      <%= f.submit '更新', :disable_with=>"更新中..." %>
    <% end %>
  <% end %>
 </div>

<div class="clear"></div>
