<%= render :partial=>"project_detail_header"%>

<div id="text-content">
  <%if File.exist?(@project.avatar.url(:medium)) %>
    <%= image_tag @project.avatar.url(:medium) %>
  <% else %>
    <%= image_tag @project.category.avatar.url(:medium) %>
  <% end %>
  <p><%= @project.description%></p>
  <script type="text/javascript" charset="utf-8">
    (function(){
      var _w = 72 , _h = 16;
      var param = {
          url:location.href,
	  type:'3',
	  count:'1', /**是否显示分享数，1显示(可选)*/
	  appkey:'', /**您申请的应用appkey,显示分享来源(可选)*/
	  title:'', /**分享的文字内容(可选，默认为所在页面的title)*/
	  pic:'', /**分享图片的路径(可选)*/
	  ralateUid:'1827331325', /**关联用户的UID，分享微博会@该用户(可选)*/
		rnd:new Date().valueOf()
	  }
      var temp = [];
	  for( var p in param ){
            temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
	  }
      document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>')
   })()
</script>
</div>

<div class="clear"></div>
<%= render :partial=>"similar_projects" %>
