<%= render :partial=>"project_detail_header"%>

<div id="text-content">
  <%if File.exist?(@project.avatar.url(:medium)) %>
    <%= image_tag @project.avatar.url(:medium) %>
  <% else %>
    <%= image_tag @project.category.avatar.url(:medium) %>
  <% end %>
  <p><%= @project.description%></p>
</div>

<div class="clear"></div>
<%= render :partial=>"similar_projects" %>
