<%= render :partial=>"project_detail_header"%>

<div id="text-content">
  <%if project_has_image?(@project.avatar) %>
    <%= image_tag @project.avatar.url(:medium) %>
  <% else %>
    <%= image_tag @project.category.avatar.url(:medium) %>
  <% end %>
  <div id="digg_text">
  <%= link_to_if((!already_voted? && !goal_owner? && logged_in_user?) , "<span id='diggers_no'>#{@project.diggers.size}</span> 顶".html_safe, digg_goal_projects_url, :remote=>true){"#{@project.diggers.size} 顶"} %>
  </div>
  <div id="bury_text"><%= link_to_if((!already_voted? && !goal_owner? && logged_in_user?), "<span id='buryers_no'>#{@project.buryers.size}</span> 踩".html_safe, bury_goal_projects_url, :remote=>true){"#{@project.buryers.size} 踩"} %></div>
  <p><%= @project.description%></p>
  <!-- JiaThis Button BEGIN -->
  <div id="ckepop">
    <a class="jiathis_button_qzone"></a>
    <a class="jiathis_button_tsina"></a>
    <a class="jiathis_button_renren"></a>
    <a class="jiathis_button_kaixin001"></a>
    <a href="http://www.jiathis.com/share/?uid=1526178" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
    <a class="jiathis_counter_style"></a>
    <div class="clear"></div>
  </div>
  <script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
  <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js?uid=1526178" charset="utf-8"></script>
  <!-- JiaThis Button END -->
</div>

<div class="clear"></div>
<!--
<= render :partial=>"similar_projects" %>
-->
