<table width="100%" border="0" summary="你所创建的目标" class="myTable">
  <tr>
    <td class="td-titles"><%= link_to "目标名称", user_url(session[:current_user_id],:section=>"创建目标",:sort_by=>"目标名称") %></td>
    <td><%= link_to "支持人数",user_url(session[:current_user_id],:section=>"创建目标",:sort_by=>"支持人数") %></td>
    <td><%= link_to "剩余时间",user_url(session[:current_user_id],:section=>"创建目标",:sort_by=>"剩余时间") %></td>
    <td><%= link_to "浏览次数",user_url(session[:current_user_id],:section=>"创建目标",:sort_by=>"浏览次数") %></td>
    <td></td>
  </tr>
  <% @projects.each do |my_proj| %>
  <tr>
    <td class="td-titles">
    <% project_name = (!session[:new_progress].blank? && session[:new_progress].include?(my_proj.id)) ? ("<span class=\"new-progress\">#{my_proj.name}</span>").html_safe : my_proj.name %>
	<%= link_to project_name, project_url(my_proj.id) %></span></td>
    <td><%= my_proj.supporters.count %>关注</td>
    <td><%= project_days_left(my_proj.complete_time) %>天剩余</td>
    <td><%= my_proj.views %>次浏览</td>
    <td>
      <% if user_is_project_owner?(my_proj.user_id) %>
        <%= link_to "更新进展", project_updates_url(:project_id=>my_proj.id) %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

