<% if @projects.blank? %>
  <div>目前还没有创建目标,要不要<%= link_to "浏览", root_url %>其他人的目标<% if session[:current_user_id].eql?(@user.id) %>或者<%= link_to "创建",new_goal_url %>自己的目标呢？<% end %></div>
<% else %>
  <table width="100%" border="0" summary="创建的目标" class="myTable">
    <% @projects.each do |my_proj| %>

      <% if (project_days_left(my_proj.complete_time) < 1)  && my_proj.success_yn.nil? && user_is_project_owner?(my_proj.user_id) %>
        <tr class="authorComment">
      <%else%>
        <tr>
      <% end %>
      <td class="td-titles">
      <% project_name = (!session[:new_progress].blank? && session[:new_progress].include?(my_proj.id)) ? ("<span class=\"new-progress\">#{my_proj.name}</span>").html_safe : my_proj.name %>
      <%= link_to project_name, goal_url(my_proj.id) %></span></td>
      <td><%= my_proj.supporters.count %>支持</td>
      <td><%= project_days_left(my_proj.complete_time) %>天剩余</td>
    <td><%= my_proj.views %>次浏览</td>
    <% if (project_days_left(my_proj.complete_time) < 1)  && my_proj.success_yn.nil? && user_is_project_owner?(my_proj.user_id) %>
      <td id="project_result_<%= my_proj.id%>">
        <%= link_to "成功", goal_set_project_success_url(:goal_id=>my_proj.id),:remote=>true %>
        <%= link_to "失败", goal_set_project_fail_url(:goal_id=>my_proj.id),:remote=>true %>
    </td>
    <% else %>
    <td>
      <% if my_proj.success_yn.nil? %>
        <% if user_is_project_owner?(my_proj.user_id) %>
          <%= link_to "更新进展", goal_progress_url(:goal_id=>my_proj.id) %>
        <% end %>
      <% else %>
        <% msg = my_proj.success_yn.eql?(true) ? "<span style='color: green;'>目标成功</span>" : "<span style='color: red;'>目标失败</span>"%>
        <%= msg.html_safe%> 
      <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
<%= will_paginate @projects %>
<% end %>

