<table width="100%" border="0" summary="你所支持的目标" class="myTable">
  <tr>
    <td class="td-titles">目标名称</td>
    <td>支持人数</td>
    <td>剩余时间</td>
    <td>浏览次数</td>
    <td></td>
  </tr>
  <% @projects.each do |my_int_proj| %>
  <tr>
    <td class="td-titles">
    <% project_name = (!session[:followed_progress].blank? && session[:followed_progress].include?(my_int_proj.id)) ? ("<span class=\"followed-progress\">#{my_int_proj.name}</span>").html_safe : my_int_proj.name %>
    <%= link_to project_name, project_url(my_int_proj.id) %></td>
    <td><%= my_int_proj.supporters.count %>支持</td>
    <td><%= project_days_left(my_int_proj.complete_time) %>天剩余</td>
    <td><%= my_int_proj.views %>次浏览</td>
    <td>
      <% if user_is_project_owner?(my_int_proj.user_id) && @user.id.eql?(session[:current_user_id]) %>
        <%= link_to "取消支持", :controller=>"projects", :action=>"not_support_this_project", :project_id=>my_int_proj.id %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

