<% if @projects.blank? %>
  <div>目前还没有支持目标，要不要<%= link_to "浏览", root_url %>其他人的目标呢？</div>
<% else %>
<table width="100%" border="0" summary="你所支持的目标" class="myTable">
  <% @projects.each do |my_int_proj| %>
  <tr id="support_project_<%= my_int_proj.id%>">
    <td class="td-titles">
    <% project_name = (!session[:followed_progress].blank? && session[:followed_progress].include?(my_int_proj.id)) ? ("<span class=\"followed-progress\">#{my_int_proj.name}</span>").html_safe : my_int_proj.name %>
    <%= link_to project_name, goal_url(my_int_proj.id) %></td>
    <td><%= my_int_proj.supporters.count %>支持</td>
    <td><%= project_days_left(my_int_proj.complete_time) %>天剩余</td>
    <td><%= link_to my_int_proj.owner.name, user_url(my_int_proj.user_id) %></td>
    <td>
    <% if project_days_left(my_int_proj.complete_time).eql?(0) && my_int_proj.success_yn.eql?(true) %>
      <span style="color: green">目标成功</span>
    <% elsif project_days_left(my_int_proj.complete_time).eql?(0) && my_int_proj.success_yn.eql?(false) %>
      <span style="color: red">目标失败</span>
    <% else %>
      <% if !user_is_project_owner?(my_int_proj.user_id) && @user.id.eql?(session[:current_user_id]) %>
        <%= link_to "取消支持", not_support_this_project_projects_url(:project_id=>my_int_proj.id),:remote=>true %>
      <% end %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>

