<% if session[:current_user_id].eql?(@user.id) %>
<% unless session[:new_progress].blank? && session[:followed_progress].blank? %>
  <div class="global-notification">
    <ul>
      <% unless session[:followed_progress].blank? %>
      	<li><strong><span class="followed-progress"><%= session[:followed_progress].size %></span></strong> 个你所支持的目标有了新的进展。</li>
      <% end %>
      <% unless session[:new_progress].blank? %>
        <% session[:new_progress].each_pair do |project_id,progress|%>
          <li><a href="#"><strong><span class="new-progress"><%= Project.find(project_id).name %></span></strong></a>目标有了
	    <% unless progress[:comment_counts].eql?(0)%><strong><%= progress[:comment_counts]%></strong> 个新的留言<%end%>
            <% unless progress[:follower_counts].eql?(0)||progress[:comment_counts].eql?(0)%>和<% end %>
	    <% unless progress[:follower_counts].eql?(0)%><strong><%= progress[:follower_counts]%></strong> 位新的支持者。<%end%>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
<% end %>

<div id="personal-intro">
  <% if session[:current_user_id].eql?(@user.id) %>
  <h1 id="hero">这是你的控制面板,你可以在这里<%= link_to "修改", edit_user_url(session[:current_user_id]) %>个人资料，管理与你有关的目标和<%= link_to '创建', new_project_url %>新的目标。
  <% if action_allowed? %>
   管理员还可以<%= link_to "添加", new_category_url %>新的目标类别。
   <% end %>
  </h1>
  <% else %>
    <div class="grid_5 alpha" id="project-title">
    <h2><%= @user.name%>的主页</h2>
  </div>

  <div class="grid_2 omega" id="follow-project">
     <% if session[:current_user_id] %>
       <% if User.find(session[:current_user_id]).is_my_friend?(@user.id) %>
         <%= link_to "发私信", new_message_url(:friend=>@user.id) if @user.is_allowed_send_PM_to(session[:current_user_id]) and !@user.id.eql?(session[:current_user_id]) %>
         <%= link_to "删除好友", delete_friend_user_index_url(:user_id=>@user.id) %>
       <% else%>
         <%= link_to "加为好友", add_friend_user_index_url(:user_id=>@user.id) %>
       <% end %>
     <% end %>
  </div>

     <div class="clear"></div>
    <p><%=h @user.description %></p>
  <% end %>

  </div>

            <div class="grid_7 alpha omega" id="project-navigation">
            <ul class="borderBottom">
                <li><%= link_to "创建的目标(#{@user.my_projects.size})",user_projects_url(:user_id=>@user.id),:remote=>true,:class=>"currentNavigationalItem",:id=>"project_tab" %></li>
                <li><%= link_to "支持的目标(#{@user.support_projects.size})" ,user_supported_projects_url(:user_id=>@user.id),:remote=>true,:id=>"support_project_tab"%></li>
                <li><%= link_to "好友(#{@user.friends.size})",user_friends_url(:user_id=>@user.id),:remote=>true,:id=>"friend_tab" %></li>
  <% if session[:current_user_id].eql?(@user.id) %>
                <li><%= link_to "私信(#{Message.my_private_messages(@user.id).size})",user_messages_url(:user_id=>@user.id),:remote=>true,:id=>"message_tab" %></li>
<% end %>
            </ul>
        </div>
        <div class="clear"></div>
        <div id="tab_content">
	    <% unless @projects.blank? %>
	        <!-- display my projects-->
                <%= render :partial=> 'projects' %>
            <% else %>
            	<%=h @user.name %>还没有设定自己目标
            <% end %>
        </div>
