<div id="breadcrumb">
  <ul>
    <li><%= link_to "网站主页", root_url %></li>
  </ul>
</div><!-- end of breadcrumb-->

<% if session[:current_user_id].eql?(@user.id) %>
<% unless session[:new_progress].blank? && session[:followed_progress].blank? %>
  <div class="global-notification">
    <ul>
      <% unless session[:followed_progress].blank? %>
      	<li><strong><span class="followed-progress"><%= session[:followed_progress].size %></span></strong> 个你所关注的目标有了新的进展。</li>
      <% end %>
      <% unless session[:new_progress].blank? %>
        <% session[:new_progress].each_pair do |project_id,progress|%>
          <li><a href="#"><strong><span class="new-progress"><%= Project.find(project_id).name %></span></strong></a>目标有了
	    <% unless progress[:comment_counts].eql?(0)%><strong><%= progress[:comment_counts]%></strong> 个新的留言<%end%>
            <% unless progress[:follower_counts].eql?(0)||progress[:comment_counts].eql?(0)%>和<% end %>
	    <% unless progress[:follower_counts].eql?(0)%><strong><%= progress[:follower_counts]%></strong> 位新的支持者。<%end%>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
<% end %>

<div id="personal-intro">
  <% if session[:current_user_id].eql?(@user.id) %>
  <h1 id="hero">这是你的控制面板,你可以在这里<%= link_to "修改", edit_user_url(session[:current_user_id]) %>个人资料，管理与你有关的目标和<%= link_to '创建', new_project_url %>新的目标。
  <% if action_allowed? %>
   管理员还可以<%= link_to "添加", new_category_url %>新的目标类别。
   <% end %>
  </h1>
  <% else %>
     <h2 style="float:left"><%=h @user.name %>的主页</h2>

     <div class="clear"></div>
    <p><%=h @user.description %></p>
  <% end %>

  </div>

            <div class="grid_7 alpha omega" id="project-navigation">
            <ul class="borderBottom">
                <li><%= link_to "支持的目标",user_supported_projects_url(:user_id=>@user.id),:remote=>true,:id=>"support_project_tab"%></li>
                <li><%= link_to "创建的目标",user_projects_url(:user_id=>@user.id),:remote=>true,:class=>"currentNavigationalItem",:id=>"project_tab" %></li>
                <li><%= link_to "好友",user_friends_url(:user_id=>@user.id),:remote=>true,:id=>"friend_tab" %></li>
  <% if session[:current_user_id].eql?(@user.id) %>
                <li><%= link_to "私信",user_messages_url(:user_id=>@user.id),:remote=>true,:id=>"message_tab" %></li>
<% end %>
            </ul>
        </div>
        <div class="clear"></div>
        <div id="tab_content">
	    <% unless @projects.blank? %>
	        <!-- display my projects-->
                <%= render :partial=> 'projects' %>
            <% else %>
            	<%=h @user.name %>还没有设定自己目标
            <% end %>
        </div>
