<div id="main-navigation">
  <div class="grid_2 alpha">
    <ul>
      <li><a href="<%= goals_url(:search_by=>"过去的目标") %>">过去的目标</a></li>
      <li><a href="<%= goals_url(:search_by=>"热门目标") %>">热门目标</a></li>
      <li><a href="<%= goals_url(:search_by=>"最新目标") %>">最新目标</a></li>
    </ul>
  </div>
  <div class="grid_2 omega">
     <ul>
       <li><a href="<%= about_url %>">关于我们</a></li>
       <li><a href="<%= contact_url %>">联系我们</a></li>
       <li><a href="http://t.sina.com.cn/1dian1di" target="_blank">新浪围脖</a></li>
     </ul>
  </div>
  <div class="clear"></div>
</div><!-- end of main navigation-->
