<div id="rewards-content">
        <ul id="project-stats">
          <li>支持者 <span class="white-number" id="supporter-white-number"><%= @project.supporters.blank? ? "0" : @project.supporters.count %></span> 人</li>
          <li>剩余 <span class="white-number"><%= project_days_left(@project.complete_time) %></span> 天</li>
    </ul>

    <div id="support-btn">
      <% unless @project.user_id == session[:current_user_id]%>
        <%= link_to "我来支持你", support_this_project_projects_url,:remote=>true %>
      <%if project_days_left(@project.complete_time).eql?(0) %>
          <%= link_to "目标成功","",:href=>"#" if @project.success_yn.eql?(true) %>
          <%= link_to "目标失败","",:href=>"#" if @project.success_yn.eql?(false) %>
      <% else %>
        <% unless already_supported? %>
          <%= link_to "我来支持你", support_this_project_projects_url(:project_id=>@project.id),:remote=>!session[:current_user_id].blank? %>
        <% else %>
          <%= link_to "谢谢支持","",:href=>"#", :onclick=>"show_already_supported_msg();" %>
        <% end %>
      <% end %>
      <% end %>
    </div>

    <div id="rewards-list">
            <h2 class="white-number">犒赏</h2>
            <dl>
            <% rewards = ProjectPrize.where('project_id = ?',session[:current_project_id]) %>
            <% unless rewards.blank? %>
              <% rewards.each do |reward| %>
                <dt><%= reward.name %></dt>
                <dd><%= reward.description %></dd>
              <% end %>
            <% end %>
        </dl>
    </div><!-- rewards-list -->

</div><!-- rewards-content -->        
<script>
  function show_already_supported_msg(){
    $("#siteMessage").html("<p>您已经支持了该目标，谢谢您的支持！</p>");
    $("#siteMessage").slideToggle("slow");
    $('#siteMessage').fadeOut(4000);
  }
</script>
