<% if params[:controller].eql?("projects") && params[:action].eql?("welcome") %>
  <%= render :partial=>'layouts/hero_statement' %>
<% else %>
<div id="breadcrumb">
  <ul>
    <li><%= link_to "网站主页", root_url %></li>
    <% unless @project.blank? || @project.new_record? %>
      <li><%= link_to @project.category.name, projects_url(:category=>@project.category.name) %></li>
    <% end %>
    <% if !params[:category].blank? && params[:controller].eql?('projects') %>
      <li><%= link_to params[:category], '#' %></li>
    <% end %>
    <% if !params[:location].blank? && params[:controller].eql?('projects') %>
      <li><%= link_to params[:location], '#' %></li>
    <% end %>
    <% if !params[:search_by].blank? && params[:controller].eql?('projects') %>
      <li><%= link_to params[:search_by], '#' %></li>
    <% end %>
    <% if params[:action].eql?('show') && params[:controller].eql?('user') %>
      <li>
        <%if params[:id].eql?(session[:current_user_id].to_s)%>
          <%= link_to "控制面板", '#' %>
        <% else %>
          <%= link_to "#{@user.name}的主页", '#' %>
        <% end %>
      </li>
    <% end %>
    <% if params[:action].eql?('new') && params[:controller].eql?('user_session') %>
      <li><%= link_to "登录", "#" %></li>
    <% end %>
    <% if params[:action].eql?('signup') && params[:controller].eql?('user') %>
      <li><%= link_to "注册", "#" %></li>
    <% end %>
  </ul>
</div><!-- end of breadcrumb-->


<% unless params[:search_by].blank? && params[:location].blank? && params[:category].blank? %>
<h1 class="marginBottom18">
<%= params[:search_by]%>
<%= params[:location] %>
<%= params[:category] %>
</h1>
<%= image_tag "beijing.gif" if params[:location].eql?("北京市")%>
<% end %>
<% end %>

